@media only screen and (max-width: 600px) {
 
    button {
     font-size: 12px;
     padding: 4px 16px; 
     line-height: 18px;
    }
    p, li {
     font-size: 14px ;
     line-height: 20px;
    }
    h3 {
     font-size: 24px;
     line-height: 30px;
    }
    h1 {
        font-size: 32px;
        line-height: 41.6px;
    }
    
    h2 {
        font-size: 28px;
        line-height: 41.6px;
    }
    
    h5 {
        font-size: 16px;
        line-height: 22.4px;
    }
    .contact {
     padding: 4px 4px 4px 12px;
     input {
         width: 200px;
     }
     button {
         padding: 8px 24px
     }
    }
    .container {
        padding: 0 24px;
    }

    .nav {
        .menu {
            position: absolute;
            display: none;
        }
        .menu.active {
            display: flex;
            background: var(--bg);
            flex-direction: column;
            gap: 10px;
            top: 0;
            padding-top: 40px;
            width: calc(100% - 48px);
            z-index: 99;
                gap: 0;
            a {
                border-bottom: 1px solid var(--text_secondary);
                width: 100%;
                text-align: center;
                padding: 10px 0;
            }
            a::before, a::after {
                display: none;
            }
            .mobile-menu-btn {
                display: block;
                margin: 20px 0;
                button {
                    font-size: 12px;
                    line-height: 20px;
                    padding: 8px 20px;
                    border-radius: 12px;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                }
            }
        }
        .ctas {
            button {
                display: none;
            }
            .hamburger {
                display: flex;
                z-index: 999;
                position: relative;
                svg {
                    width: 24px;
                    height: 24px;
                    transform: rotateY(180deg);
                }
            }
        }
       }
    .hero {   

        .hero-bg-container {
            .hero-bg {
                width: 1000px;
                height: 1000px;
                position: absolute;
                top: calc(1000px / -4);
                left: calc(1000px / -4);
                background: var(--primary);
                border-radius: 50%;
            }
        }
        .hero-container {
            height: 100vh;
            justify-content: center;
            padding-top: 120px;
            p {
                max-width: 80%;
                text-align: center;
            }
            .d3 {
                font-size: 40px;
                line-height: 50px;
                margin: 12px 0;
            }
            button {
                margin-top: 24px;
            }
            .hero-img {
                width: 100%;
                margin-top: auto;
                margin-bottom: 40px;
            }
        }
    }

    .logos {
        .logos-container {
            flex-wrap: wrap;
            gap: 20px;
            img {
                flex: 1 0 23%;
                width: 50px;
            }
        }
    }

    .companies {
        margin-top: 120px;
        h1 {
            max-width: 100%;
        }
        .company-container {
            flex-direction: column;
            gap: 40px;
            .company {
                padding: 24px 0;
            }
        };
    }

    .how {
        margin-top: 120px;
        .how-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-template-areas: 'banner'
            'card1 '
            'card2'
            'card3 '
            'card4';

            .how-card {
                padding: 24px 18px;
                border-radius: 24px;
            }
            .how-main {
                flex-direction: column;
                gap: 24px;
                border-radius: 24px;
                padding: 40px;

                .how-column {
                    width: 100% !important;
                    h1 {
                        margin-bottom: 24px;
                        text-align: center;
                        br {
                            display: none;
                        }
                    }
                    .play-btn {
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                        i {
                            font-size: 20px;
                        }
                    }
                }
                .how-column:nth-child(2n) {
                    .how-column-container:last-child {
                        border-bottom-right-radius: 14.5px;
                        border-bottom-left-radius: 14.5px;
                        padding-bottom: 20px;
                    }
                }
            }
        };
    }

    .performance {
        margin-top: 120px;
        h1 {
            width: 90%;
            margin: 0 auto;
        }
        .performance-container {
            flex-direction: column;
            margin-top: 40px;
            gap: 40px;
            .performance-left {
                flex: 100%;
            }
            .performance-right {
                flex: 100%;
                gap: 24px;
                padding-left: 0px;
                .performance-card {
                    width: calc(100vw - 48px);
                    margin-left: 0 !important;
                    padding: 12px 24px;
                    border-radius: 16px;
                }
            }
        }
        .performance-row2 {
            flex-direction: column-reverse;
            .performance-left {
                padding-left: 0;
            }
            .performance-right {
                width: 100%;
                flex-direction: column;
                gap: 24px;
                .performance-card:last-child {
                    margin-left: auto;
                }
            }
        }
        .performance-row3 .performance-right {
            flex-direction: column;

        }
    }

    .business {
        margin-top: 120px;
        .business-container {
            margin-top: 80px;
            width: 100%;

            h1 {
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
            .business-content { 
                flex-direction: column-reverse;
                margin-top: 80px;
                .business-left {
                    flex: 100%;
                    margin-top: 40px;
                    width: 100%;
                    min-height: fit-content;
                    .business-tabs {
                        flex-wrap: wrap;
                        gap: 24px;
                    }
                }
                .business-right {
                    flex: 100%;
                    display: grid;
                    width: 100%;
                    .business-right-container {
                        width: 100%;
                        .window {
                            width: 100%;
                            margin: 0;
                            img {
                                margin: 10%;
                            }
                        }
                        .extra {
                            right: 0;
                            width: 160px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                        .extra1 {
                            left: 0;
                            bottom: 10%;
                        }
                    }

                }
            }
        };
    }

    .pricing {
        padding-top: 120px;
        .pricing-container .pricing-contents {
            flex-direction: column;
            gap: 40px;
        }
    }

    .clients {
        margin-top: 120px;
        .clients-container .clients-logos {
            flex-wrap: wrap;
            gap: 24px;
            & > * {
                flex: 1 0 25%;
            }
        }
        .clients-container .client {
            flex-direction: column;
            gap: 40px;
            .client-left {
                display: flex;
                gap: 12px;
                align-items: flex-end;
            }
        }
    }

    .download {
        margin-top: 120px;
        .download-container {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    .get-started {
        margin-top: 120px;
        .get-started-container {
            padding: 40px 24px;
            border-radius: 0 ;
            align-items: flex-start;
            gap: 18px;

            button {
                margin-top: 24px;
            }
        }
    }


    
    .footer .footer_cont {
        padding: 80px 24px;
        flex-direction: column;
        gap: 50px;
        .two {
            flex-wrap: wrap;
            margin-top: 0;
            .left {
                flex: 1 0 45%;
                width: 50%;
            }
        };
   }

   }

   @media only screen and (min-width: 1440px) {
    .container, .footer_cont {
        max-width: 1550px;
        padding: 0;
        margin: 0 auto;
    }

    .nav.container {
        left: calc(50vw - ( 1550px / 2));
    }
   }