
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
    color: var(--text_primary);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
 a {
    text-decoration: none;
 }

 p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: var(--text_secondary);
}

h2 {
    font-size: 32px;
    line-height: 41.6px;
    color: var(--text_secondary);
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    color: var(--text_secondary);
}
h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36.4px;
    color: var(--text_secondary);
}

h5 {
    font-size: 20px;
    font-weight: 600px;
    line-height: 28px;
    color: var(--text_secondary);
}
 .container {
    padding: 0 120px;
 }
 button {
    color: var(--white_100);
    font-size: 14px;
    font-weight: 600;
    padding: 12px 28px;
    line-height: 24px;
    outline: none;
    border: none;
    background: var(--primary);
    border-radius: 16px;
    cursor: pointer;
}
.filled-btn {
    background: var(--primary);
    color: var(--white_100);
}



@keyframes juggle {
    0% {
        transform: translate(0, 0);
    } 50% {
        transform: translate(5%, 5%);
    } 100% {
        transform: translate(0, 0);
    }
  }


#home, #services, #reviews, #news, #faq{
    scroll-behavior: smooth;
}

.logo {
    padding: 24px 0;
    a {
        display: flex;
        align-items: center;
        gap: 0px;
        font-size: 25px;
        color: var(--primary);
        font-weight: 900;
    }
    i {
        color: var(--primary)
    }
}

.how-small {
    font-size: 9.371px;
    font-weight: 400;
    line-height: 14.057px; 
}
.how-reg {
    font-size: 10.933px;
    font-weight: 500;
    line-height: 17.961px; 
}
.how-heading {
    font-size: 14.057px;
    font-weight: 600;
    line-height: normal;
}
.how-light {
    color: var(--how-light);
    font-weight: 400;
}

.how-darker {
    color: var(--text_secondary);
    font-weight: 600;
}


.nav {
    position: fixed;
    width: 100vw;
    opacity: 1;
    transition: opacity .2s linear;
    z-index: 99999;
    background: var(--bg);
    .nav-contents {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        a {
            color: var(--nav_text);
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
            cursor: pointer;
            position: relative;
        }
        a::before, a::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 2px;
            bottom: 0;
            left: 0;
            background: var(--text_secondary);
            transition: all .5s ease;
        }
        a::after {
            top: 0;
            right: 0;
            left: unset;
            transform: scaleX(-1);
        }
        a:hover:before, a:hover:after {
            width: 100%;
            transition: all .5s linear;
        }
    .mobile-menu-btn {
            display: none;
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        gap: 32px;
        button {
            font-size: 12px;
            line-height: 20px;
            padding: 8px 20px;
            border-radius: 12px;
            display: flex;
            gap: 4px;
            align-items: center;
            cursor: pointer;
            p {
                position: relative;
                width: 10px;
                height: 10px;
                display: flex;
                align-items: flex-start;
                margin-left: 4px;
            }
            p::before {
                content: '';
                position: absolute;
                bottom: -6px;
                left: -4px;
                width: 8px;
                height: 5px;
                background: rgb(255,255,255);
                transition: all 5s linear;
                transform: rotate(-45deg);
                clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                transition: all .2s ease;
            }
        }
        button:hover {
            i {
                animation: juggle 1s linear reverse infinite;
            }
            p::before {
                background: rgba(255,116,0,1);
                transition: all 5s linear;
            }
        }
        .hamburger {
            display: none;
        }
        .theme-switch {
            display: flex;
            align-items: center;
            gap: 8px;
            svg {
                width: 16px;
                height: 16px;
                 path {
                    fill: var(--grey_600);
                }
                g {
                    stroke: var(--grey_600)
                }
            }
            svg.active{
                path {
                   fill: var(--primary);
               }
               g {
                   stroke: var(--primary)
               }
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 44px;
                height: 24px;
            }
            
            .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--primary);
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked + .slider {
                background-color: var(--primary);
            }
            
            input:focus + .slider {
                background-color: var(--primary);
            }
            
            input:checked + .slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
            
            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }
            
            .slider.round:before {
                border-radius: 50%;
            }
        }
    }
}

.hero {
    position: relative;
    min-height: min(100vh, 1316px);

    .hero-bg-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        overflow: hidden;
        z-index: -1;
        .hero-bg {
            width: 3126px;
            height: 1316px;
            position: absolute;
            top: calc(1316px / -4);
            left: calc(3126px / -4);
            background: var(--primary);
            border-radius: 50%;
        }
    }

    .hero-container {
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        p{
            color: var(--white_70)
        }
        .alert {
            font-weight: 500;
            font-size: 16px;
            color: var(--white_100);
            padding: 2px 12px;
            border-radius: 36px;
            background: var(--white_10);
        }
        .d3 {
            margin: 24px 0;
            color: var(--white_100);
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Inter;
            font-size: 64px;
            font-weight: 600;
            line-height: 83.2px;
            max-width: 895px;
        }
        button {
            margin-top: 40px;
            background: var(--warning);
        }

        .hero-img {
            width: 1000px;
            margin-top: 40px;
            padding: 12px;
            border-radius: 24px;
            background: #000;
            img {
                width: 100%;
            }
        }
    }
}

.logos {
    .logos-container {
        padding-top: 120px;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 150px;
        };
    }
}

.companies {
    margin-top: 180px;
    h1 {
        max-width: 740px;
        margin: 0 auto 40px;
    }
    .companies-container {
        text-align: center;
    }
    .company-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .company {
            display: grid;
            justify-items: center;
            img {
                width: 196px;
            }
            p {
                max-width: 352px;
                margin: 24px auto;
            }
            .stars {
                display: flex;
                gap: 24px;
                align-items: center;
                justify-content: flex-start;
                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        fill: var(--warning)
                    }
                }
            }
        }
        .company:last-child {
            .stars {
                div:last-child {
                    svg{
                     path {
                        fill: var(--grey_300)
                     }
                    }
                }
            }
        }
    };
}

.how {
    margin-top: 180px;
    .how-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'card1 banner banner'
                             'card2 card3 card4';
        gap: 24px;
        
        .how-card {
            padding: 64px 40px;
            width: 100%;
            background: var(--cards-bg);
            border-radius: 36px;
            & > * {
                max-width: 336px;
            }
            h3 {
                margin-bottom: 24px;
            }
        }
        .how-card:first-child {
            grid-area: card1;
        }
        .how-card:nth-child(3n) {
            grid-area: card3;
        }
        .how-card:last-child {
            grid-area: card4;
        }

        .how-main {
            grid-area: banner;
            display: flex;
            justify-content: space-between;
            gap: 40px;
            background-color: var(--primary);
            border-radius: 36px;
            padding: 64px 72px 0;
            .how-column {
                width: 300px;
                h1 {
                    color: var(--white_100);
                    margin-bottom: 40px;
                }
                .play-btn {
                    background: var(--warning);
                    border-radius: 50%;
                    width: 72px;
                    height: 72px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 32px;
                        color: var(--white_100);
                    }
                }
                .how-column-container {
                    background: var(--bg);
                    padding: 20px 18px;
                    border-radius: 14.5px;
                    .how-column-row {
                        display: flex;
                        gap: 10px;
                        align-items: flex-start;
                    }
                }
            }
            .how-column:first-child {
                width: 179px;
            }
            .how-column:nth-child(2n) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 24px;
                .how-column-container {
                    .how-column-row {
                        position: relative;
                        .how-column-date {
                            i {
                                font-size: 14px;
                                padding: 6px;
                                border-radius: 4px;
                                background: var(--how-iBG);
                                color: var(--primary)
                            }
                        }
                        .how-column-img {
                            width:30px;
                            height: 30px;
                            overflow: hidden;
                            border-radius: 50%;
                            background: var(--white_100);
                            position: absolute;
                            z-index: 1;
                            img {
                                width: 100%;
                                object-fit: cover;
                                padding: 2.5px;
                                position: relative;
                                z-index: inherit;
                            };
                        }
                        .how-column-img::before {
                            content: '';
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            top: 2.5px;
                            left: 2.5px;
                            border-radius: 50%;
                            background-color: rgb(0, 183, 255);
                            z-index: 1;
                        }
                        .how-column-img:nth-child(2n):before {
                            background-color: rgb(0, 255, 191);
                        }
                        .how-column-img:nth-child(4n):before {
                            background-color: rgb(148, 50, 105);
                        }
                        .how-column-img:nth-child(5n):before {
                            background-color: rgb(241, 241, 38);
                        }
                        .how-column-img:last-child::before {
                            display: none;
                        }
                        
                        
                        .how-column-img:first-child {
                            margin-left: 0; 
                        }
                        .how-column-img:nth-child(2n) {
                            margin-left: 25px;
                        }
                        .how-column-img:nth-child(3n) {
                            margin-left: calc(25px * 2);
                        }
                        .how-column-img:nth-child(4n) {
                            margin-left: calc(25px * 3);
                        }
                        .how-column-img:nth-child(5n) {
                            margin-left: calc(25px * 4);
                        }
                        .how-column-img:last-child {
                            margin-left: calc(25px * 5.5);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .how-column-row:first-child {
                        gap: 16px;
                        .how-column-date:last-child {
                            padding-left: 16px;
                            border-left: 1px solid var(--how-divider);
                        }
                    }
                    .how-column-row:nth-child(2n) {
                        margin: 20px 0 8px;
                    }
                    .how-column-row:last-child {
                        margin: 20px 0 0px;
                        height: 25px;
                    }
                }
                .how-column-container:last-child {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-bottom: 0;
                    .how-browsers {
                        margin-top: 15px;
                        display: grid;
                        gap: 8px;
                        .how-browser {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                            .how-darker {
                                margin-left: auto;
                            }
                        }

                    }
                }
            }
            .how-column:last-child {
                display: flex;
                align-items: center;
                .how-column-container {
                    padding: 0;
                    width: 100%;
                    .how-heading {
                        text-align: center;
                        padding: 24px 0;
                    }
                    .how-goal {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 16px;
                        padding: 24px 0;
                        .how-goal-container {
                            width: 120px;
                            height: 120px;
                            .progress-svg-circle {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    path {
                                        stroke: var(--grey_600)
                                    }
                                }
                                svg:last-child {
                                    path {
                                        stroke: var(--danger)
                                    }
                                }

                            }
                        }
                    }
                    .how-column-goal {
                        display: flex;
                        text-align: center;
                        border-top: 1px solid var(--border_color);
                        .how-goal-left {
                            flex: 50%;
                            padding: 12px;
                            border-right: 1px solid var(--border_color);
                        }
                        .how-goal-right {
                            flex: 50%;
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }
}

.performance {
    margin-top: 180px;
    h1 {
        text-align: center
    }
    .performance-left {
        flex: 50%;
        h2 {
            margin: 24px 0;
        }
        h2, p {
            max-width: 526px;
        }
        p:first-child {
            border-radius: 36px;
            background: rgba(68, 140, 116, 0.10);
            width: fit-content;
            padding: 2px 12px;
            color: var(--primary);
            font-size: 14px;
            font-weight: 600;
            line-height: 24px; 
        }
    }
    .performance-container {
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-direction: row;
        .performance-right {
            flex: 50%;
            display: grid;
            gap: 40px;
            padding-left: 60px;
            .performance-card {
                display: flex;
                align-items: center;
                width: 526px;
                gap: 24px;
                padding: 20px 32px;
                background: var(--how-iBG);
                border-radius: 24px;
                img {
                    width: 63px;
                    height: 63px;
                    border-radius: 50%;
                }
                .performance-graph {
                    margin-left: auto;
                    color: var(--primary)
                }
            }
            .performance-card:nth-child(2n), .performance-card:nth-child(4n) {
                margin-left: 110px;
            }
        }
    }
    .performance-row2 {
        display: flex;
        margin-top: 80px;
        .performance-left {
            padding-left: 60px;
            ul {
                margin-top: 32px;
                list-style: none;
                width: 100%;
                overflow: hidden;
                i {
                    color: var(--primary);
                    padding-right: 12px;
                    font-size: 16px
                };
                li {
                    color: var(--grey_700);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

        }
        .performance-right {
            display: flex;
            gap: 24px;
            .performance-card {
                width: 306px;
                background: var(--how-iBG);
                padding: 30px 35px;
                border-radius: 36px;
                height: fit-content;
                p {
                    font-size: 26.122px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 42.915px; 
                }
                h1 {
                    text-align: left;
                    font-size: 44.78px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                .performance-bars {
                    height: 112px;
                    position: relative;
                    width: 100%;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    .performance-bar {
                        height: 100%;
                        width: 10px;
                        position: relative;
                        background: var(--white_100);
                        border-radius: 10px;
                        overflow: hidden;
                    }
                    & > *::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        height: 20%;
                        left: 0;
                        background: var(--warning);
                    }
                    & > *.active::before {
                        animation: animateBars 1.5s ease-in-out infinite;
                    }
                    .performance-bar:first-child::before {
                        height: 20%;
                    }
                    .performance-bar:nth-child(2n)::before {
                        height: 88%;
                    }
                    .performance-bar:nth-child(3n)::before {
                        height: 60%;
                    }
                    .performance-bar:nth-child(4n)::before {
                        height: 90%;
                    }
                    .performance-bar:nth-child(5n)::before {
                        height: 75%;
                    }
                }
            }
            .performance-card:first-child {
                margin-top: 130px;
            }
        }
    }

    .performance-row3 {
        .performance-left {
            flex: unset;
        }
     .performance-right {
        display: flex;
        align-items: center;
        .performance-column {
            display: flex;
            flex-direction: column;
            .performance-card {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 0;
                margin-left: unset;
                width: 305px;
                .performance-avatar {
                    position: relative;
                }
                .performance-avatar::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    right: 10px;
                    bottom: 5px;
                    background: var(--primary);
                    z-index: 2;

                }
                .performance-avatar::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    right: 7.5px;
                    bottom: 2.5px;
                    background: var(--white_100);

                }
                h5 {
                    font-size: 15.3px;
                    font-weight: 500;
                    line-height: normal;
                    margin: 9px 0 21px;
                }
                h1 {
                    font-size: 51px;
                    font-weight: 600;
                    line-height: 56.1px;
                }
                 p {
                    font-size: 13.6px;
                    font-weight: 400;
                    line-height: 19.125px; 
                    text-align: center;
                    margin: 5px 0;
                 }
                .performance-bars {
                    height: 50px;
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .performance-bar {
                        height: 100%;
                        width: calc(100% / 24);
                        position: relative;
                        background: var(--primary);
                        border-radius: 10px;
                    }
                    .performance-bar:nth-child(2n) {
                        height: 70%;
                    }
                    .performance-bar:nth-child(3n) {
                        height: 50%;
                        background: var(--warning)
                    }
                }
            }
        }
        .performance-column:last-child {
            display: grid;
            gap: 40px;
            .performance-card:last-child {
                h1 {
                    margin: 8px 0;
                }
                svg {
                }
            }
        }
     }
    }
}

.business {
    margin-top: 180px;
    background: var(--logo_text);
    display: flex;
    .business-container {
        margin-top: 120px;
        h1 {
            color: var(--bg);
            max-width: 660px;
        }
        .business-content {
            margin-top: 80px;
            display: flex;
            align-items: flex-start;
            .business-left {
                flex: 50%;
                min-height: 500px; 
                overflow-x: hidden;
                .business-tabs {
                    display: flex;
                    justify-content: space-between;
                    p {
                        cursor: pointer;
                        padding: 12px 28px;
                        color: var(--business_tabs)
                    }
                    .active-business-tab {
                        border: 1px solid var(--primary);
                        border-radius: 16px;
                        color: var(--primary)
                    }
                }
                .business-desc-container {
                    position: relative;
                    width: 400%;
                    display: flex;
                    margin-top: 60px;
                    transition: all .5s linear;
                    .business-desc {
                        width: calc((300% / 4) - 100px);
                        padding-right: 100px;
                        h3 {
                            color: var(--bg)
                        }
                        p {
                            margin: 24px 0 32px;;
                        }
                        a {
                            color: var(--primary);
                            padding: 12px 0;
                            i {
                                padding-left: 8px
                            }
                        }
                    };
                }
            }
            .business-right {
                flex: 50%;
                overflow: hidden;
                .business-right-container {
                    position: relative;
                    background: var(--primary);
                    border-radius: 36px;
                    width: 463px;
                    height: 483px;
                    margin: 0 auto;
                    .extra, .extra1 {
                        position: absolute;
                        background: var(--white_100);
                        height: fit-content;
                        width: 200px;
                        padding: 10px;
                        border-radius: 10px;
                        p, h5 {
                            color: var(--grey_700);
                        }
                    }
                    .window {
                        width: 80%;
                        margin: 0 0 0 20%;
                        height: 510px;
                        overflow: hidden;
                        img {
                            width: 90%;
                            height: 90%;
                            position: relative;
                            z-index: 2;
                            margin-top: 10%;
                        }
                    }
                    .extra {
                        top: 15%;
                        right: -70px;
                        img {
                            width: 100%;
                            margin-top: 0;
                        }
                        p {
                            width: fit-content;
                            margin-left: auto;
                            span {color: var(--grey_500);}
                        }
                    }
                    .extra1 {
                        width: 300px;
                        height: 80px;
                        right: -50px;
                        bottom: 20%;
                        left: -150px;
                        z-index: 3;
                        
                        
                        .how-column-row {
                            position: relative;
                            .how-column-img {
                                width:60px;
                                height: 60px;
                                overflow: hidden;
                                border-radius: 50%;
                                background: var(--white_100);
                                position: absolute;
                                z-index: 1;
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                    padding: 2.5px;
                                    position: relative;
                                    z-index: inherit;
                                };
                            }
                            .how-column-img::before {
                                content: '';
                                position: absolute;
                                width: 55px;
                                height: 55px;
                                top: 2.5px;
                                left: 2.5px;
                                border-radius: 50%;
                                background-color: rgb(0, 183, 255);
                                z-index: 1;
                            }
                            .how-column-img:nth-child(2n):before {
                                background-color: rgb(0, 255, 191);
                            }
                            .how-column-img:nth-child(4n):before {
                                background-color: rgb(148, 50, 105);
                            }
                            .how-column-img:nth-child(5n):before {
                                background-color: rgb(241, 241, 38);
                            }
                            .how-column-img:last-child::before {
                                display: none;
                            }
                            
                            
                            .how-column-img:first-child {
                                margin-left: 0; 
                            }
                            .how-column-img:nth-child(2n) {
                                margin-left: 45px;
                            }
                            .how-column-img:nth-child(3n) {
                                margin-left: calc(45px * 2);
                            }
                            .how-column-img:nth-child(4n) {
                                margin-left: calc(45px * 3);
                            }
                            .how-column-img:nth-child(5n) {
                                margin-left: calc(45px * 4);
                            }
                            .how-column-img:last-child {
                                margin-left: calc(40px * 5.5);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
    
                    }
                    
                }
            }
        }
    }
}

.pricing {
    padding: 180px 0 40px;
    background: var(--how-iBG);
    .pricing-container {
        h1 {
            text-align: center;;
        }
        .pricing-radio {
            display: flex;
            align-items: center;
            gap: 24px;
            width: fit-content;
            margin: 24px auto 0;
            input[type="radio"] {
                accent-color: var(--primary);
            }
        }
        .pricing-contents {
            margin-top: 40px;
            display: flex;
            gap: 40px;
            justify-content: center;
            .sub {
                border-radius: 36px;
                padding: 40px;
                min-width: 300px;
                background: var(--white_100);
                .sub-header {
                    display: flex;
                    height: 80px;
                    .sub-header-left {
                            width: 80px;
                            height: 100%;
                            border-radius: 12px;
                            background: var(--info);
                            padding: 10px;
                        svg {
                            width: 100%;
                            height: 100%;
                            path {
                                fill: var(--white_100);
                                stroke: var(--white_100)
                            }
                            g {
                                fill: var(--white_100);
                                stroke: var(--white_100)}
                        }
                    }
                    .sub-header-right {
                        padding-left: 12px;
                        h2 {
                            text-align: left; 
                            span {
                                font-size: 24px;
                            }
                        }
                    }
                }
                ul {
                    margin-top: 24px;
                    list-style: none;
                    li {
                        display: flex;
                        gap: 8px;
                        padding-bottom: 8px;;
                    }
                    .unavailable-feature {
                        color: var(--grey_500)
                    }
                }
                button {
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 24px;
                    color: var(--primary);
                    background: none;
                    border: 1px solid var(--primary);
                    cursor: pointer;
                }
                button:hover {
                    color: var(--white_100);
                    background: var(--primary);
                }
                
            }
            .sub:hover {
                border: 1px solid var(--primary);
            }
            .sub:nth-child(2n) {
                .sub-header .sub-header-left {
                    background: var(--primary);
                }
            }
            .sub:last-child .sub-header .sub-header-left {
                background: var(--warning);
            }
        }
    }
}

.clients {
    margin-top: 180px;
    .clients-container {
        h1 {
            text-align: center;
        }
      .clients-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        svg {
            width: calc(100% / 6);
            height: 100px;
            path {
                fill: var(--grey_600);
            }
        }
        svg:hover {
            path {
                fill: #295ba7
            }
        }
      }
      .client {
        padding: 40px;
        display: flex;
        align-items: flex-start;
        background: var(--how-iBG);
        border-radius: 36px;
        margin-top: 40px;
        .client-left {
            flex: 30%;
            img {
                width: 100px;
                height: 100px;
                background: var(--warning);
                border-radius: 50%;
            }
        }
        .client-right {
            flex: 70%;
        }
      }
    };
}

.download {
    margin-top: 180px;
    .download-container {
        display: flex;
        align-items: center;
        & > * {
            flex: 1 0 48%;
        }


        .download-left {
            display: grid;
            align-content: center;
            & > * {
                max-width: 400px;
            }

            p {
                margin: 24px 0 40px;
            }
            .download-ctas {
                p {
                    margin: 0;
                }
                display: flex;
                gap: 24px;
                align-items: flex-start;
            }

        }
        .download-right {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.get-started {
    margin-top: 180px;
    .get-started-container {
        background: var(--text_secondary);
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
        padding: 120px;
        border-radius: 36px;
        h1, p {
            color: var(--white_100);
        }
        button {
            margin-top: 40px;
        }
    }
}

.icon-btn {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    background: var(--primary);
    color: var(--white_100);
    border-radius: 12px;
    padding: 8px 12px;
    width: fit-content;

    i {
        font-size: 45px;
    }
    .how-small {
        margin-bottom: 0 !important;
    }
   h5 {
    color: var(--white_100);
   }
}

.footer {
    .footer_cont {
        padding: 80px 110px 40px;
        display: flex;
        gap: 56px;
        flex-wrap: wrap;
        .one {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p {
                max-width: 306px;
                margin: 25px 0 32px;
            }
            .icons {
                display: flex;
                gap: 24px;
                i {
                    color: var(--grey_800);
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: var(--icons);
                }
                a {
                    color: inherit;
                    opacity: 0.7;
                    transition: all 200ms linear;
                }
                a:hover {
                    opacity: 1;
                    transform: scale(1.2);
                    transition: all 200ms linear;
                }
            }
        }
        .two {
            flex: auto;
            display: flex;
            gap: 24px;
            margin-top: 82px;
            .left {
                width: 196px;
                p { margin-bottom: 8px;}
                a { color: var(--primary); text-decoration: underline}
                .icon-btn {
                    background: var(--grey_400);
                }
            }
        }
        .cr {
            span {
                color: var(--grey_600)
            }
        }
    };
}

@keyframes animateImgs {
    from {
        margin-left: 0;
    }
}

@keyframes animateBars {
    from {
        height: 0;
    }
}